body{
    background-image: url('sanpham.png');
}

h1{
    text-align: center;
    padding: 8px;
    border: 6px double;
    word-wrap: break-word;
    font-size: 42px;
}

h2{
    font-size: 32px;
    text-align: right;
    padding-right: 70px;
}

div{
    text-align: right;
    padding-right: 90px;
}

button {
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

p{
    font-size: 20px;
    padding-left: 850px;
}